body {
    background-color: #f6f7Fb;
}

.avatar--sm {
    border-radius: 50%;
    width: 1rem;
}

.avatar--border {
    border: 1px solid aqua;
}

.avatar--md {
    border-radius: 50%;
    width: 2rem; 
}

.user--nav--info {
    font-size: 13px;
}

.navbar--white {
    background-color: #fff!important;
}

.bg--white {
    background-color: #fff!important;
}

.side--info {
    display: block;
  }

@media only screen and (max-width: 768px) {
    .side--info {
        display: none;
    }
    .main--content {
        flex: 1!important
    }

    .md-d-none {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .sm-d-none {
        display: none!important;
    }
}