{% load static %}
<nav class="navbar ">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">CvCampus</a>
        <div class='d-flex align-items-center'>
            <div class="md-d-none">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="mr-4"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="dropdpwn user--nav--info">
                <div class="d-flex dropdown-toggle align-items-center gap-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <div>
                        <img class="avatar--md avatar--border" src="{% static 'img/profile.jpg'%}" alt="">
                    </div>
                    <div class="d-flex flex-column align-items-start sm-d-none">
                        <span class="small">@{{request.user}}</span>
                        <span class="small">Universidade do mindelo</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end" style="right: 5px;">
                        <li><a class="dropdown-item" href="{% url 'document-upload' %}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'document-upload' %}">Publicar material</a></li>
                        <li><a class="dropdown-item text-danger" href="#">Deslogar</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</nav>